.AboutMe {
  margin-top: 32px;
  display: flex;
  flex-flow: column;
  align-items: center;
  .about-me-title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 32px;
  }
  h4 {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    span {
      font-weight: 700;
    }
  }
  .about-me-details {
    width: 60vw;
    margin: 28px auto;
    font-size: 19px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: 400;
    p {
      margin: 12px 0px;
      line-height: 2em;
      font-weight: 400;
    }

    a {
      color: var(--highlight-text-color);
      font-weight: 600;
      margin: 0px 4px;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  span {
    position: relative;
    font-weight: 600;
  }
  .stack {
    font-size: 28px;
  }
  .technologies {
    margin-top: 24px;
    text-transform: uppercase;
    color: var(--primary-color);
    letter-spacing: 1.5px;
    font-size: 16px;
  }
  .resume {
    font-size: 12px;
    margin-top: 24px;
    font-weight: 700;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 980px) {
  .AboutMe {
    .about-me-title {
      font-size: 28px;
    }
    h4 {
      font-size: 20px;
    }
    .about-me-details {
      font-size: 16px;
    }
    .resume {
      font-size: 8px;
    }
  }
  #root > div > main > section:nth-child(2) > div > h2.stack {
    font-size: 22px;
  }
  #root > div > main > section:nth-child(2) > div > strong {
    font-size: 14px;
  }
}
@media screen and (max-width: 630px) {
  .AboutMe {
    .about-me-title {
      font-size: 26px;
    }
    h4 {
      font-size: 16px;
    }
    .about-me-details {
      font-size: 14px;
    }
    .resume {
      font-size: 6px;
    }
  }
  #root > div > main > section:nth-child(2) > div > h2.stack {
    font-size: 20px;
    text-align: center;
  }
  #root > div > main > section:nth-child(2) > div > strong {
    font-size: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 520px) {
  .AboutMe {
    .about-me-title {
      font-size: 26px;
    }
    h4 {
      font-size: 16px;
    }
    .about-me-details {
      font-size: 14px;
    }
    .resume {
      font-size: 4px;
    }
  }
  #root > div > main > section:nth-child(2) > div > h2.stack {
    font-size: 16px;
  }
  #root > div > main > section:nth-child(2) > div > strong {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  .AboutMe {
    .about-me-title {
      font-size: 22px;
    }
    h4 {
      font-size: 12px;
    }
    .about-me-details {
      font-size: 10px;
    }
  }
  #root > div > main > section:nth-child(2) > div > h2.stack {
    font-size: 12px;
  }
  #root > div > main > section:nth-child(2) > div > strong {
    font-size: 6px;
  }
}
