.ContactMe{
    margin-top: 10vh;
    text-align: center;
}
.contact-me-title{
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-color);
}
.contact-me-subtitle{
    margin: 24px auto;
    font-weight: 500;
}
.email{
    font-weight: 700;
}
i{
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 2px solid var(--primary-light-color);
    border-radius: 100%;
    margin: 18px;
    padding: 8px;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    &:hover{
        color: white;
        border-color: var(--primary-color);
        background-color: var(--primary-color);
    }
}