.intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  .intro-texts {
    animation: helloAnimation 0.5s ease-in-out;
    h2 {
      font-size: 82px;
      font-weight: 200;
      letter-spacing: 1.5px;
      span {
        color: var(--primary-light-color);
        font-weight: 700;
      }
    }
    .details {
      margin-top: 16px;
      font-weight: 500;
    }
  }
  .btn-primary {
    margin-top: 48px;
  }
  .down-arrow {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translatex(-50%);
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
}
#intro-logo {
  font-size: 380px;
  transform: rotate(-45deg);
  position: relative;
  top: -8vh;
  right: -8vw;
  color: var(--primary-color);
  opacity: 0.8;
  animation: bigLogoAnimation 0.5s ease-in-out;
  cursor: default;
}
@media screen and (max-width: 980px) {
  .intro {
    display: block;
    .intro-texts {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      background-color: white;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      padding: 16px;
      border-radius: 8px;
      opacity: 0.9;
    }
    #intro-logo {
      font-size: 320px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
@media screen and (max-width: 630px) {
  .intro {
    font-size: 12px;
    .intro-texts {
      h2 {
        font-size: 48px;
      }
    }
    #intro-logo {
      font-size: 180px;
    }
  }
}
@media screen and (max-width: 360px){
  .intro{
    .intro-texts{
      h2{
        font-size: 38px;
      }
    }
    #intro-logo {
      font-size: 180px;
    }
  }
}
@keyframes helloAnimation{
  0%{
    transform: translateX(0px);
  }
  25%{
    transform: translateX(10px);

  }
  75%{
    transform: translateX(-10px);

  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes bigLogoAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.8;
  }
}