.intro {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.intro .intro-texts {
  -webkit-animation: helloAnimation 0.5s ease-in-out;
          animation: helloAnimation 0.5s ease-in-out;
}

.intro .intro-texts h2 {
  font-size: 82px;
  font-weight: 200;
  letter-spacing: 1.5px;
}

.intro .intro-texts h2 span {
  color: var(--primary-light-color);
  font-weight: 700;
}

.intro .intro-texts .details {
  margin-top: 16px;
  font-weight: 500;
}

.intro .btn-primary {
  margin-top: 48px;
}

.intro .down-arrow {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.big-logo-image {
  width: 600px;
  height: 750px;
  position: relative;
  top: -6vh;
  left: 20%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  opacity: 0.8;
  -webkit-animation: bigLogoAnimation 0.5s linear;
          animation: bigLogoAnimation 0.5s linear;
}

@media screen and (max-width: 980px) {
  .intro {
    display: block;
  }
  .intro .intro-texts {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
    background-color: white;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 16px;
    border-radius: 8px;
    opacity: 0.9;
  }
  .big-logo-image {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: rotate(-10deg) translate(-50%, -50%);
            transform: rotate(-10deg) translate(-50%, -50%);
  }
}

@media screen and (max-width: 630px) {
  .intro {
    font-size: 12px;
  }
  .intro .intro-texts h2 {
    font-size: 48px;
  }
  .big-logo-image {
    width: 266px;
    height: 333px;
  }
}

@media screen and (max-width: 360px) {
  .intro .intro-texts h2 {
    font-size: 38px;
  }
  .big-logo-image {
    width: 177px;
    height: 222px;
  }
}

@-webkit-keyframes helloAnimation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes helloAnimation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes bigLogoAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes bigLogoAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
/*# sourceMappingURL=Intro.css.map */