nav {
  width: 100%;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-color);
  opacity: 0.95;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: fixed;
  top: 0;
}

nav ul {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  opacity: 1;
  cursor: pointer;
  -webkit-animation: navLinkAnimation 0.5s ease-in-out;
          animation: navLinkAnimation 0.5s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

nav ul li:hover {
  color: var(--primary-color);
}

nav .logo {
  opacity: 1;
  font-weight: bold;
  cursor: pointer;
  -webkit-animation: logoAnimation 0.5s ease-in-out;
          animation: logoAnimation 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo div {
  font-family: 'kielo' , sans-serif;
}

nav .logo div::first-letter {
  color: var(--primary-color);
}

nav .logo div span {
  font-weight: normal;
  font-size: 12px;
}

nav .logo img {
  width: 32px;
  height: 42px;
  margin: 0px 8px;
}

@media screen and (max-width: 980px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  nav ul {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  nav ul li {
    margin: 0px 6px;
  }
}

@-webkit-keyframes navLinkAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  25% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes navLinkAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  25% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes logoAnimation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes logoAnimation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=Navbar.css.map */